fastapi
uvicorn[standard]
requests
sqlmodel
psycopg2-binary
pydantic-settings
feedparser
pyyaml
scikit-learn==1.6.1
joblib
cloudscraper
trafilatura
pika
openai
bcrypt
python-jose[cryptography]
python-multipart
